.main_display {
    background-color: #8DA7BE;
    width: 60em;
    height: 100%;
    padding: 25px;
    border-radius: 40px;
}

.header {
    background-color: #F5F7F8;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
}

.current_page {
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
    overflow: scroll;
    height: 81%;
}

Link {
    background-color: #61dafb;
}

.test {
    color: #F5F7F8;
    color: #F4CE14;
    color: #495E57;
    color: #45474B;
    color: #C04851;
    color: #8DA7BE;
}
